<h1>Who are you?</h1>

<form action='/operator' method='get'>
  <button type="submit" class="btn">I am a smooth operator</button>
</form>
<br>
<form action='/rider' method='get'>
  <button type="submit" class="btn">I am a rider</button>
</form>
