<h1>Here are your stations for <%= @found_line.name() %></h1>

<% if @line_station_names.any?() %>
  <p>Click on a station to see it's associated lines</p>
  <ul>
    <% @line_station_names.each() do |station_name| %>
    <li><a href = "/line/<%= station_name %>"><%= station_name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stations yet.</p>
<% end %>
